@import './../shared/../../assets/styles/variables';

/* Estilo para o contêiner do formulário de cadastro */
.cadastro {
  max-width: 400px; /* Largura máxima do formulário */
  margin: 20px auto; /* Centraliza o formulário horizontalmente */
  padding: 20px; /* Espaçamento interno */
  border: 1px solid #ccc; /* Borda */
  border-radius: 8px; /* Bordas arredondadas */
  background-color: #fff; /* Cor de fundo */
}

/* Estilo para os elementos do formulário */
.cadastro label {
  display: block; /* Coloca os rótulos em uma nova linha */
  margin-bottom: 5px; /* Espaçamento entre os rótulos e os campos */
}

.cadastro input[type="text"],
.cadastro input[type="password"] {
  width: calc(100% - 22px); /* Ocupa toda a largura disponível */
  padding: 10px; /* Espaçamento interno */
  margin-bottom: 15px; /* Espaçamento inferior entre os campos */
  border: 1px solid #ccc; /* Borda */
  border-radius: 4px; /* Bordas arredondadas */
  box-sizing: border-box; /* Garante que o padding não afete a largura total */
}

