 <div class="cadastro">
  <form (ngSubmit)="cadastrar()" [formGroup]="form">
    <div>
      <label for="nome">Nome *</label>
      <input
      type="text"
      name="nome"
      [formControl]="form.controls.nome"
      >
      <span *ngIf="
        (form.controls.nome.dirty ||
        form.controls.nome.touched) &&
        form.controls.nome.errors &&
        form.controls.nome.errors['required']"
        >preenchimento obrigatorio
      </span>
      <span *ngIf="
        (form.controls.nome.dirty ||
        form.controls.nome.touched) &&
        form.controls.nome.errors &&
        form.controls.nome.errors['validaNomeCompleto']"
        >Insira seu nome completo
      </span>
    </div>
    <div class="elementoForm">
      <label for="codigoUsuario">Codigo usuario *</label>
      <input
      type="text"
      name="codigoUsuario"
      [formControl]="form.controls.codigoUsuario"
      >
      <span *ngIf="
        form.controls.codigoUsuario.dirty ||
        form.controls.codigoUsuario.touched &&
        form.controls.codigoUsuario.errors &&
        form.controls.codigoUsuario.errors['required']"
        > código deveconter de 5 a 10 caracteres
      </span>

    </div>
    <div  class="elementoForm">
      <label for="senha">Senha *</label>
      <input
      type="password"
      name="senha"
      [formControl]="form.controls.senha"
      >
      <span *ngIf="">A senha deve conter no min 4 caracteres</span>
      <span *ngIf="
        form.controls.senha.dirty ||
        form.controls.senha.touched &&
        form.controls.senha.errors &&
        form.controls.senha.errors['required']"
        >preenchimento obrigatorio</span>

    </div >
    <div  class="elementoForm">
      <label for="confirmarSenha"> Confirmar Senha *</label>
      <input
      type="password"
      name="senhaUsuario"
      [formControl]="form.controls.confirmarSenha"
      >
      <span *ngIf="
      form.controls.confirmarSenha.dirty ||
      form.controls.confirmarSenha.touched &&
      form.controls.confirmarSenha.errors &&
      form.controls.confirmarSenha.errors['required']"
      >preenchimento obrigatorio</span>
    </div>
    <p-toast></p-toast>
    <div class="botoes-formulario">
      <button mat-flat-button color="primary" type="submit">Cadastrar</button>
    </div>
  </form>
</div>
