@import './../shared/../../assets/styles/variables';
/* Estilização do contêiner de login */
.login {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #f9f9f9;
}

/* Estiliza os elementos do formulário para ocupar toda a largura disponível */
.login form div {
  margin-bottom: 15px;
}

/* Estiliza as labels */
.login label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

/* Estiliza os inputs */
.login input[type="text"],
.login input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Garante que padding não aumente a largura */
}

/* Estiliza os botões */
.login button {
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}


